# Ignore the Google Drive service account key file
src/main/resources/storeit-457017-70d5b472c5b6.json

# Maven
target/
mvnw
mvnw.cmd
.mvn/

# Node.js
node_modules/
dist/
build/
.env # Ignore environment files which may contain secrets

# IDE specific files
.idea/
*.iml
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Package files
package-lock.json
